@media (max-width: 767px) {
  .thumbnail {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}

body {
	font-family: 'Cambo', sans-serif, Helvetica, Arial;
  font-size: 90%;
	background-image: url("bg.jpg");
	padding-bottom: 100px;
}

#logo h1 {
	font-weight: 800;
}

#skill p {
	text-indent: 10px;
}

ul.contact {
  list-style-type: none;
  text-align: center;
}
ul.contact li {
  display: inline;
  margin-right: 10px;
}
